.example-spacer {
    flex: 1 1 auto;

  }

  /* Declaramos con palabra reservada MEDIA*/

  @media (min-width: 300px) and (max-width: 700px){
    mat-toolbar{
      background-color: pink;
    }
     
    #menuInicio{
      display: none;
    }

    #menuProducto{
      display: none;
    }
  
}

  @media (min-width: 700px){
    mat-toolbar{
      background-color: rgb(224, 14, 14);
    }
  
  #menuSecciones{
     display: none;
  }
  }

  button::mat-menu-item{
    font-family: "Protest Guerrilla", sans-serif;
  }

  
  a{
    text-align: right;
  }