<!--tabla creada con todas las categorias que se muestran en el th-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imagen</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Categoria</th>
      <th scope="col"> stock</th>
      <th scope="col">Acciones</th>
     
    </tr>
  </thead>

  <tbody>
    <!-- Itera sobre la colección de productos y crea una fila para cada producto
     con ngfor, se repiten los productos -->
    <tr *ngFor="let producto of coleccionProductos">
      <th scope="row">1</th>
      <!-- Muestra la imagen del producto -->
      <td>
        <img src="{{producto.imagen}}" alt="{{producto.alt}}">
      </td>
      <!-- Muestra el nombre del producto -->
      <td>{{producto.nombre}}</td>
      <!-- Muestra el precio del producto -->
      <td>{{producto.precio}}</td>
      <!-- Muestra la descripción del producto -->
      <td>{{producto.descripcion}}</td>
      <!-- Muestra la categoría del producto -->
      <td>{{producto.categoria}}</td>
      <!-- Muestra el stock del producto -->
      <td>{{producto.stock}}</td>
      <!-- Botón para editar el producto -->
      <td>
        <button id="btn-edit" title="Editar" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(producto)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <!-- Botón para eliminar el producto -->
      <td>
        <button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostrarBorrar(producto)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Botón para agregar un nuevo producto -->
<button class="button" type="button" data-bs-toggle="modal" data-bs-target="#agregarProducto">
  <p>agregar nuevo producto</p>
</button>

<!-- Modal para agregar un nuevo producto.
 Un modal es una ventana emergente que aparece en la interfaz de usuario 
 para mostrar contenido adicional o interactuar con el usuario sin cambiar de página.-->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Cuerpo del modal para agregar producto.
       formgroup maneja los datos del formulario-->
      <div [formGroup]="producto" class="modal-body">
        <div class="mb-3">
          <label class="form-label">Ingrese el nombre del producto:</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="ej.: Remera de river">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese descripcion del producto:</label>
          <input class="form-control" type="text" formControlName="descripcion" placeholder="ej.: Titular del año 2018">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese el precio del producto:</label>
          <input class="form-control" type="text" formControlName="precio" placeholder="ej.: 20.000$">
        </div>

        <div class="mb-3">
          <select class="form-control form-select" formControlName="categoria" aria-label="Default select example">
            <!--en el form-label elegis la categoria del producto 
            para agregarlo en una interfaz especifica de la pagina-->
          <label class="form-label">Seleccione una categoria:</label>
            <option disabled selected>Elija una opción</option>
            <option value="remeras">remeras</option>
            <option value="camperones">camperones</option>
            <option value="pantalones">pantalones</option>
            <option value="buzoa">buzos</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese una imagen:</label>
          <!-- te aparece el boton para agregar una imagen y con el change 
           cambia el contenido para que se cargue la imagen.
           $event programa eventos desde el dom.
           el DOM es una interfaz de programación qur facilita la esstructura del documentp-->
          <input type="file" accept="imagen/*" placeholder="..." (change)="cargarImagen($event)">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese texto alternativo:</label>
          <!--formControlName es una directiva que vincula un control de formulario a un input-->
          <input class="form-control" type="text" formControlName="alt" placeholder="...">
        </div>
        <div class="mb-3">
          <label for="form-label">Ingrese stock en su producto:</label>
          <input class="form-control" type="number" formControlName="stock">
        </div>
      </div>

      <div class="modal-footer">
        <!--este click sirve para cuando tenes el producto agregado guardarlo correctamente-->
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="agregarProducto()">Guardar</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar productos con ng*for para que repita productos -->
<div class="modal fade" *ngFor="let productoEdit of coleccionProductos" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Encabezado del modal -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edite el siguiente producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Cuerpo del modal para editar producto -->
      <div [formGroup]="producto" class="modal-body">
        <div class="mb-3">
          <label class="form-label">Ingrese el nombre del producto:</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="{{productoEdit.nombre}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese descripción del producto:</label>
          <input class="form-control" type="text" formControlName="descripcion" placeholder="{{productoEdit.descripcion}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese el precio:</label>
          <input class="form-control" type="number" formControlName="precio" placeholder="{{productoEdit.precio}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Seleccione una categoría:</label>
          <select class="form-control form-select" formControlName="categoria" aria-label="Default select example">
            <option selected>elija una opcion</option>
            <option value="remeras">remeras</option>
            <option value="camperones">camperones</option>
            <option value="pantalones">pantalones</option>
            <option value="buzoa">buzos</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese una imagen:</label>
          <input type="file" accept="imagen/*" placeholder="..." (change)="cargarImagen($event)">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese texto alternativo:</label>
          <input class="form-control" type="text" formControlName="alt" placeholder="{{productoEdit.alt}}">
        </div>
        <div class="mb-3">
          <label for="form-label">Ingrese stock en su producto:</label>
          <input class="form-control" type="number" formControlName="stock" placeholder="{{productoEdit.stock}}">
        </div>
      </div>

      <!-- Acciones del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="editarProducto()">Guardar cambios</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para eliminar productos -->
<div class="modal fade" *ngIf="modalVisibleProducto" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro de eliminar el producto?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{productoSeleccionado.nombre}}
        <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="borrarProducto()">Eliminar</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
