<br><br><br><br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imagen</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Categoria</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let producto of coleccionProductos">
      <th scope="row">1</th>
      <td>
        <img src="{{producto.imagen}}" alt="{{producto.alt}}">
      </td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.precio}}</td>
      <td>{{producto.descripcion}}</td>
      <td>{{producto.categoria}}</td>
      <td>{{producto.stock}}</td>
      <!--Acciones-->
      <td>
        <button id="btn-edit" title="Editar" class="btn btn-outline-warning" data-bs-toggle="modal"
          data-bs-target="#editarProducto" (click)="mostrarEditar(producto)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>

      <!--ELIMINAR-->
      <td>
        <button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
          data-bs-target="#eliminarProducto" (click)="mostrarBorrar(producto)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>


<button class="button" type="button" data-bs-toggle="modal" data-bs-target="#agregarProducto">
  <p>agregar nuevo producto</p>
</button>

<!-- Modal -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!--Cuerpo del modal-->
      <div [formGroup]="producto" class="modal-body">
        <div class="mb-3">
          <label class="form-label">Ingrese el nombre del producto:</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="ej.: Medias de tu hermana">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese descripcion del producto:</label>
          <input class="form-control" type="text" formControlName="descripcion" placeholder="ej.: Medias de tu hermana">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese el precio del producto:</label>
          <input class="form-control" type="text" formControlName="precio" placeholder="ej.: Medias de tu hermana">
        </div>

        <div class="mb-3">
          <select class="form-control form-select" formControlName="categoria" aria-label="Default select example">
            <option disabled selected>Elija una opción</option>
            <option selected>elija una opcion</option>
            <option value="remeras">remeras</option>
            <option value="camperones">camperones</option>
            <option value="pantalones">pantalones</option>
            <option value="buzoa">buzos</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese una imagen:</label>
          <input  type="file" accept="imagen/*" placeholder="..." (change)="cargarImagen($event)">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese texto alternativo:</label>
          <input class="form-control" type="text" formControlName="alt" placeholder="...">
        </div>



      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"
          (click)="agregarProducto()">Guardar</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>


<!-- MODAL PARA EDITAR PRODUCTOS -->
<!-- Cambiamos nombre de variable que itera la colección -->
<div class="modal fade" *ngFor="let productoEdit of coleccionProductos" id="editarProducto" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- ENCABEZADO DEL MODAL -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edite el siguiente producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- CUERPO DEL MODAL -->
      <div [formGroup]="producto" class="modal-body">
        <div class="mb-3">
          <label class="form-label">Ingrese el nombre del producto:</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="{{productoEdit.nombre}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese descripción del producto:</label>
          <input class="form-control" type="text" formControlName="descripcion"
            placeholder="{{productoEdit.descripcion}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese el precio:</label>
          <input class="form-control" type="number" formControlName="precio" placeholder="{{productoEdit.precio}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Seleccione una categoría:</label>
          <select class="form-control form-select" formControlName="categoria" aria-label="Default select example">
            <option selected>elija una opcion</option>
            <option value="remeras">remeras</option>
            <option value="camperones">camperones</option>
            <option value="pantalones">pantalones</option>
            <option value="buzoa">buzos</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese una imagen:</label>
          <input  type="file" accept="imagen/*" placeholder="..." (change)="cargarImagen($event)">
        </div>

        <div class="mb-3">
          <label class="form-label">Ingrese texto alternativo:</label>
          <input class="form-control" type="text" formControlName="alt" placeholder="{{productoEdit.alt}}">
        </div>
  <div class="mb-3">
    <label for="form-label"> ingrese stock en su producto</label>
    <input type="form-control" type="number" formControlName="stock">
  </div>

      </div>

      <!-- ACCIONES DEL MODAL -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="editarProducto()">Guardar
          cambios</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal para eliminar el producto-->

<!-- Modal -->
<div class="modal fade" *ngIf="modalVisibleProducto" id="eliminarProducto" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿esta seguro de eliminar el producto?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{productoSeleccionado.nombre}}

        <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="borrarProducto()">Eliminar</button>
        <button type="button" class="btn btn-online-secondary" data-bs-dismiss="modal">cerrar</button>
      </div>
    </div>
  </div>
</div>