.container{
    display:flex;
    padding: 10px;
    justify-content: center;
    
}
h1{
    text-align: center;
}
.contenido{
    width: 200px;
    display: inline-block;
    padding: 15px;
    border-radius: 9px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    
}
p{
    padding: 10px;
}
a{
    text-align: center;
    padding-left: 10%;
}

.example-card{
    background-color: rgb(206, 14, 14);
  
}
.contenido img {
    width: 100%; /* Se ajusta al ancho del contenedor */
    height: 200px; /* Ajusta la altura según lo que necesites */
}

.body1{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)), url(src/assets/fondo-inicio.jpg);
    background-size: 100%;
    background-position: center center;
    background-repeat: repeat;
}
.contenedor-titulo{
    display:flex;
    justify-content: center;
    align-items: center;
}


h2{
color: aliceblue;
padding-left: 10%;
}

.card {
    position: relative;
   background-color: rgba(177, 143, 143, 0); /* Fondo blanco semi-transparente */
    border-radius: 15px; /* Bordes redondeados */
    color: aliceblue;
    
}

.card-img {
    width: 100%; /* Imagen a 100% del card */
    height: 100%; /* Imagen a 100% del card */
    object-fit: cover; /* Para cubrir el card sin deformar la imagen */
    background-color: rgba(177, 143, 143, 0); /* Fondo blanco semi-transparente */
    
}

.body2{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)), url(src/assets/fondo-inicio2.jpg);
    background-size: 100%;
    background-position: center center;
    background-repeat: repeat;
    text-align: center;
}
@media (min-width: 300px) and (max-width: 700px){
    img{
        padding-left: 20%;
        width: 150px;
        height: 150px;
       
        
   
}
}
