.contenedor-div {
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

}

.row{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.boton1 {
  width: 120px;
  margin: auto;
  color: #c71010;
  background: none;
  border: none;
  cursor: pointer;

}







.container {
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(88, 88, 88, 0.18);
  box-shadow: rgba(255, 0, 0, 0.37);
  backdrop-filter: blu(30px);
  border: 10px solid rgba(236, 11, 11, 0.18);
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1 {
  text-align: center;
  color: #f7f2f2;
}

.material-icons {
  display: block;
  margin: 0 auto;
  color: #180e0e;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;

}



.boton {
  background: none;
  border: none;
  cursor: pointer;

}

.boton1 mat-icon {
  font-size: 24px;
}

.boton:focus {
  outline: none;
}

#river {
  width: 150px;
  ;
  height: 140px;
  ;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0 0 0 / .8), rgba(0 0 0 / .8)), url(src/assets/fiesta.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: repeat;
  height: 700px;

}



button {
  border: none;
  width: 140px;
  height: 50px;
  color: #000000;
  z-index: 1;
  background: #c9b3b3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;

}

button p {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  color: #000000
}

button::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(0% 74%,
      4% 75%,
      8% 76%,
      11% 77%,
      15% 78%,
      20% 78%,
      25% 77%,
      32% 77%,
      37% 75%,
      40% 74%,
      43% 74%,
      46% 73%,
      52% 72%,
      57% 72%,
      65% 74%,
      66% 75%,
      71% 78%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%);
  background: #d80a0a;
  transition: 0.2s ease;
}

button::before {
  position: absolute;
  content: "";
  /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
  /*   bottom:; */
  z-index: -1;
  clip-path: polygon(0% 74%,
      4% 75%,
      8% 76%,
      11% 77%,
      15% 78%,
      20% 78%,
      25% 77%,
      32% 77%,
      37% 75%,
      40% 74%,
      43% 74%,
      46% 73%,
      52% 72%,
      57% 72%,
      65% 74%,
      66% 75%,
      71% 78%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%);
  background: #ca1c10;
}

button:hover::after {
  clip-path: polygon(0 30%,
      9% 34%,
      7% 39%,
      11% 43%,
      13% 33%,
      17% 30%,
      24% 34%,
      25% 35%,
      30% 31%,
      30% 38%,
      39% 33%,
      35% 43%,
      43% 45%,
      55% 46%,
      65% 74%,
      67% 66%,
      81% 57%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%);
  height: 80%;
}

button:hover::before {
  clip-path: polygon(0 30%,
      9% 34%,
      7% 39%,
      11% 43%,
      13% 33%,
      17% 30%,
      24% 34%,
      25% 35%,
      30% 31%,
      30% 38%,
      39% 33%,
      35% 43%,
      43% 45%,
      55% 46%,
      65% 74%,
      67% 66%,
      81% 57%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%);
  height: 80%;
}