

.body1{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)), url(src/assets/enzope.jpg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px;
}




body {
    font-family: Arial, sans-serif;
    background-color: rgba(240, 240, 240, 0.9);
    margin: 0;
    padding: 20px;
    position: relative;
    background-color: rgba(177, 143, 143, 0); /* Fondo blanco semi-transparente */
     border-radius: 15px; /* Bordes redondeados */
     color: aliceblue;
    
}

.sobre-nosotros {
    max-width: 1200px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: rgba(177, 143, 143, 0); /* Fondo blanco semi-transparente */
     border-radius: 15px; /* Bordes redondeados */
     color: aliceblue;
}

h1, h2 {
    color: #f30000;
}

.tarjeta {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s;
    
    background-color: rgba(177, 143, 143, 0); /* Fondo blanco semi-transparente */
     border-radius: 15px; /* Bordes redondeados */
     color: aliceblue;
}

.tarjeta:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(255, 18, 18, 0.3);
  
    background-color: rgba(177, 143, 143, 0); /* Fondo blanco semi-transparente */
     border-radius: 15px; /* Bordes redondeados */
     color: aliceblue;
}

.valores ul {
    list-style-type: none;
    padding: 0;
}

.valores li {
    display: flex;
   
    margin: 10px 0;
}

.icono {
    margin-right: 10px;
    font-size: 24px;
}

.equipo .miembros {
    display: flex;
    flex-wrap: wrap;
}

.miembro {
    flex: 1 1 200px;
    margin: 10px;
    
    cursor: pointer;
    transition: transform 0.2s;
}

.miembro:hover {
    transform: scale(1.05);
}

.miembro img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.testimonios blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #ccc;
    padding-left: 10px;
}

li{
    height: 50px;
    width: 50px;
    text-decoration:none
}

.logo{
    width: 70px;
    height: 70px;
}

blockquote{
    color: #ccc;
}