<div class="body1">
    <html lang="es"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre nosotros</title>
    
</head>
<body>
    <section class="sobre-nosotros">
        <p href="https://fontmeme.com/es/fuentes-de-grafiti/"><img src="https://fontmeme.com/permalink/241002/59f307ab2be6408837e249fb44665d12.png" alt="fuentes-de-grafiti" border="0"></p>
        <div class="historia tarjeta">
            <h2>Buscamos la mejor calidad y precio para la gente</h2>
            <p>Desde 2020, buscando la mejor ropa riverplatense para la gente.</p>
        </div>
        <div class="valores tarjeta">
            <h2>Siempre compartiendo la misma pasión</h2>
            <ul>
                <li><span class="icono"><li><img src="../../../../assets/remeralogo-removebg-preview.png" class="logo"></li></span> retro</li><br>
                <li><span class="icono"><li><img src="../../../../assets/remera2024-removebg-preview.png" class="logo"></li></span> nuevo</li><br>
                <li><span class="icono"><img src="../../../../assets/river-plate-originals-2016-removebg-preview.png" class="logo"><li></span> variedad</li>
            </ul>
        </div>
        
        <div class="testimonios tarjeta">
            <h2>¿que buscamos?</h2>
            <p>"Buscamos que la gente pueda venir a nuestro local, sabiendo que se van a llevar indumentaria de calidad. Siempre vamos a buscar la mejor atencion para toda la gente, 
                que se sientan comodos en nuestro local y que vuelvan por ropa del mas grnade. Es hermoso saber que compartimos la misma pasión."</p>
        </div>
    </section>
    
</body>







</div>
