<div class="body1">

  <div class="font">
  <p><img src="https://fontmeme.com/permalink/241024/4b525d4fa0a2053823b1b6e13786124e.png" alt="fuentes-de-grafiti" border="0"></p>
  <br>
  <p><img src="https://fontmeme.com/permalink/241024/37c63d6eae377e726de4aca7f17fffb7.png" alt="fuentes-de-grafiti" class="calificacion" border="0"></p>
  
</div>

  <form class="contact-form">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="Nombre" required>
        <label for="floatingName">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
        <label for="floatingEmail">Correo electrónico</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Deja un mensaje aquí" id="floatingMessage" style="height: 100px" required></textarea>
        <label for="floatingMessage">Mensaje</label>
    </div>
    <button id="alertButton">
      
      <div>
        <span>
          <button (click)="enviar()">Enviar</button>
        </span>
      </div>
      <div>
        <span>
          <button >Gracias por opinar</button>
        </span>
      </div>
    </button>
</form>




</div>
